@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
$base-black80: #333333;
$base-black60: #666666;
$base-black20: #cccccc;
$base-black10: #f1f1f1;
$main-brand: #cc693e;
$black: #000000;
.container {
  margin: 0px 64px;
  padding: 0px 4px;
}
.header-container {
  height: 190px;
  .inner-header {
    padding-top: 40px;

    .hamburger {
      width: 40px;
      background: none;
      border: none;
      .hamburger-icon {
        font-size: 40px;
      }
    }
    .logo-col {
      padding-left: 0;
    }
  }
}
.location {
  display: flex;
  column-gap: 10px;
  .city {
    margin-bottom: 10px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $base-black60;
    @media (min-width: 1200px) {
      white-space: nowrap;
    }
    span {
      color: $main-brand;
    }
  }
}

.main-container {
  padding-left: 0;
  .break-section {
    height: 44px;
    column-gap: 24px;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    @media (max-width: 960px) {
      width: 348px;
      overflow: hidden;
    }
    .col {
      padding: 0;
    }
    .break-dotted-line {
      width: 160px;
      border: 2px dashed $base-black20;
      border-radius: 4px;
    }
    p {
      margin: 0;
      font-family: "Roboto Slab";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 44px;
      color: $base-black20;
      @media (max-width: 1200px) {
        font-size: 20px;
      }
      &:nth-child(1) {
        padding-left: 0;
      }
      &:nth-child(3) {
        text-align: center;
        white-space: nowrap;
      }
      &:last-child {
        text-align: start;
      }
    }
    .active {
      color: $black;
    }
  }
}

.main-content {
  column-gap: 40px;
  margin-top: 40px;

  .product-section {
    padding-right: 0px;
    row-gap: 40px;
    display: flex;
    flex-direction: column;
  }
  .product-card {
    background-color: $base-black10;
    border-radius: 8px;
    position: relative;
    min-height: 215px;
    .product-img {
      width: 185px;
      padding: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px 0px 0px 8px;
      }
    }
    .close-btn {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 38px;
      right: 16px;
      padding: 0;
      color: #999999;
      cursor: pointer;
    }
    .product-info {
      padding-left: 40px;
      padding-right: 32px;
      padding-top: 24px;
      padding-bottom: 5px;
      .top-info {
        .description {
          font-family: "Roboto Slab";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          margin: 0;
          color: $base-black60;
          @media (max-width: 1200px) {
            font-size: 12px;
          }
        }

        h2 {
          font-family: "Roboto Slab";
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 32px;
          color: $black;
          @media (max-width: 1200px) {
            font-size: 20px;
          }
        }
      }
      .bottom-info {
        margin-top: 24px;
        column-gap: 16px;
        p {
          margin: 0;
        }
        .product-button {
            width: 156px;
            @media (max-width: 1200px) {
                // width: 132px;
              }
          .product-count {
            border: 2px solid $main-brand;
            height: 48px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            @media (max-width: 1200px) {
               width: 26px;
               height: 32px;
              }
            p {
              font-family: "Roboto Slab";
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 24px;
              text-align: center;
              margin: 0;
            }
          }
          .count-btn {
            background: #ffffff;
            border: 2px solid $main-brand;
            box-sizing: border-box;
            color: $base-black60;
            width: 40px;
            height: 48px;
            font-size: 18px;
            text-align: center;
            @media (max-width: 1200px) {
                width: 26px;
                height: 32px;
                font-size: 16px;
               }
          }
          .decrement {
            border-radius: 30px 0px 0px 30px;
          }
          .increment {
            border-radius: 0px 30px 30px 0px;
          }
        }
        .price-left {
          padding: 0px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
          width: 60px;
        }
        .price-right {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding: 0px;
          width: 60px;
          justify-content: center;
        }
        .old-price {
          align-self: flex-end;
          p {
            font-family: "Roboto Slab";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: $base-black20;
            @media (max-width: 1200px) {
                font-size: 16px;
              }
          }
        }
        .new-price {
          font-family: "Roboto Slab";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
          color: $base-black80;
          @media (max-width: 1200px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.promo-box {
  height: max-content;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.16),
    0px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  //   @media (max-width: 1400px) {
  //     display: none;
  //   }
  .bonus-count {
    h3 {
      font-family: "Roboto Slab";
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 32px;
      color: $base-black80;
      @media (max-width: 1200px) {
        font-size: 18px;
      }
    }
  }
  .bonus-description-sec {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $base-black80;
    margin-top: 20px;
    @media (max-width: 1200px) {
      font-size: 12px;
    }
  }
  .row {
    margin: 0;
  }
  .promocode {
    margin: 40px 0px 0px 0px;
    flex-direction: column;
    @media (max-width: 1200px) {
      margin-top: 20px;
    }
    .promocode-label {
      font-family: "Roboto Slab";
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 32px;
      color: $base-black80;
      @media (max-width: 1200px) {
        font-size: 18px;
      }
    }
    input {
      width: 100%;
      border: 2px solid #808080;
      border-radius: 30px;
      @media (max-width: 1200px) {
        height: 30px;
      }
      &::placeholder {
        font-family: "Roboto Slab";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $base-black20;
      }
    }
    .promocode-btn {
      width: 160px;
      height: 40px;
      background: #ffffff;
      border: 2px solid $main-brand;
      box-sizing: border-box;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2),
        0px 0px 4px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.16);
      border-radius: 40px;
      color: $main-brand;
      align-self: flex-end;
      margin-top: 16px;
      &:hover {
        background-color: $main-brand;
        color: #ffffff;
      }
    }

    .order-amount {
      margin-top: 40px;
      padding: 0;
      p {
        font-family: "Roboto Slab";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: $base-black80;
        @media (max-width: 1200px) {
          font-size: 16px;
        }
        .old-price {
          color: $base-black20;
          text-decoration-line: line-through;
          margin: 0px 10px;
        }
      }
      .promocode-submit-btn {
        height: 64px;
        width: 100%;
        background: $main-brand;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25),
          0px 0px 4px rgba(0, 0, 0, 0.16), 0px 4px 6px rgba(0, 0, 0, 0.16);
        border-radius: 40px;
        border: none;
        transition: all 0.15s ease-in-out;
        font-family: "Roboto Slab";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        padding: 0;
        &:hover {
          font-size: 20px;
        }
      }
    }
  }
}
